.detail-manage-specialty {
  margin-top: 10px;
  .dms-title {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
  }
  .detail-manage-specialty-content {
  }
  .detail-manage-specialty-editor {
    margin-top: 10px;
  }
  .btn-detail-specialty {
    margin-top: 10px;
    .delete {
      margin-left: 10px;
    }
  }
}
