.detail-manage-clinic {
  margin-top: 10px;
  .dmc-title {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
  }
  .detail-manage-clinic-content {
  }
  .detail-manage-clinic-editor {
    margin-top: 10px;
  }
  .btn-detail-clinic {
    margin-top: 10px;
  }
  .delete {
    margin-left: 10px;
  }
}
