.modal-infor-container {
  .lightbox {
    z-index: 100;
  }
  .none {
    display: none;
  }
  .modal-infor-content {
    .modal-infor-header {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 17px;
      font-weight: 600;
      color: #333;
      display: flex;
      justify-content: space-between;
      .change-pass {
        cursor: pointer;
        &:hover {
          color: orange;
        }
      }
      .back-infor {
        cursor: pointer;
        &:hover {
          color: orange;
        }
      }
    }
    .modal-infor-body {
      padding: 10px;
      margin-top: 10px;
      .preview-img-container {
        display: flex;
        gap: 15px;
        .upload {
          .label-upload {
            padding: 5px;
            border-radius: 3px;
            background-color: #ddd;
            cursor: pointer;

            &:hover {
              opacity: 0.9;
            }
          }
        }
        .preview-image {
          height: 50px;
          width: 100px;
          border: 1px solid #ddd;
          background: center center no-repeat;
          background-size: contain;
          cursor: pointer;
        }
      }
      .newPass {
        position: relative;
        i {
          position: absolute;
          right: 5px;
          top: 10px;
          cursor: pointer;
        }
      }
    }
    .modal-infor-footer {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      border-top: 1px solid #ccc;
      gap: 15px;
      button {
        border: none;
        outline: none;
        padding: 5px 8px;
        border-radius: 3px;
        width: 80px;
      }
      .btn-infor-confirm {
        background-color: orange;
      }
      .btn-infor-cancel {
        background-color: gray;
      }
    }
  }
}
